extends _tpl.pug
block variables
  - title = 'Basic image demo'
block intro
  p Single image FileUploader built from <code>input[type="file"]</code>. With pre-registered values.
  p Look at console for more info

block fupl
  form#form1(action="#" method="post" name="form1")
    div(data-file-uploader
      data-filetype="img"
      data-img_min_h="500"
      data-img_min_w="500"
      data-max_filesize="2500"
      data-uploader_legend="true"
      data-values= `[{
        "id": "124",
        "name": "ibrahim-rifath-787485-unsplash.jpg",
        "src": "test-files/ibrahim-rifath-787485-unsplash.jpg",
        "wi": 1920,
        "he": 1280,
        "size": 193345
      }]`
    )
      label(for="input_file") This is the original input field label
      input#input_file(name="myfile" type="file")
    p
      button(class="btn btn-primary" type="submit") Submit

block js
  script(src="js/basic-img-demo.js" type="module")


